{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "About" %}{% endblock %}

{% block body %}
	<p>
    {% blocktrans %}<b>Condottieri</b> has been developed with the help of the following pieces of free, open source software:{% endblocktrans %}
	</p>
	<ul>
	<li>
	{% blocktrans %}<a href="http://python.org">Python</a>. The whole application has been written in Python.{% endblocktrans %}
	</li>
	<li>
	{% blocktrans %}<a href="http://www.djangoproject.com">Django</a>, "The Web framework for perfectionists with deadlines". One of the best frameworks with probably the best documentation.{% endblocktrans %}
	</li>
	<li>
	{% blocktrans %}<a href="http://pinaxproject.com">Pinax</a>. An integrated collection of Django applications that provides the social networking features in this website.{% endblocktrans %}
	</li>
	<li>
	{% blocktrans %}<a href="http://www.pythonware.com/products/pil">Python Image Library</a>. Provides image processing functionality.{% endblocktrans %}
	</li>
	<li>
	{% blocktrans %}<a href="http://experience.sourceforge.net/">Experience</a>::Panorama. An image viewer with panning and zooming support.{% endblocktrans %}
	</li>
	</ul>
{% endblock %}
