/* SITE-SPECIFIC TAB STYLING */

body.machiavelli #tab_machiavelli a,
body.messages #tab_messages a,
body.profile #tab_profile a,
body.notices #tab_notices a,
body.forum #tab_forum a,
body.help #tab_help a
body.contribute #tab_contribute a
{
    color: #fff; /* selected tab text colour */
}
body.machiavelli #tab_machiavelli,
body.messages #tab_messages,
body.profile #tab_profile,
body.notices #tab_notices,
body.forum #tab_forum,
body.help #tab_help
body.contribute #tab_contribute
{
    margin: 0 0 1px; /* to compensate for border */
    padding: 5px 0 5px;
    background-color: #9f2727; /* selected tab colour */
    border-left: 1px solid #9f2727; /* tab border */
    border-top: 1px solid #9f2727; /* tab border */
    border-right: 1px solid #9f2727; /* tab border */
}
