*.pyc
*.db
.htaccess
settings.py
local_settings.py
site_media/
deploy/
logs/
cron/
forum/
site_media/static/machiavelli/maps/
machiavelli/media/machiavelli/maps/
site_media/static/machiavelli/avatars/
machiavelli/media/machiavelli/avatars/
maintenance.html*
*/migrations/
activate
doc/_*
templates/ganalytics.html
templates/hosting.html
third_party/
