*.pyc
*.db
.htaccess
robots.txt
settings.py
local_settings.py
logs/
cron/
forum/
site_media/static/machiavelli/maps/
machiavelli/media/machiavelli/maps/
machiavelli/fixtures/
maintenance.html*
*/migrations/
activate
