*.pyc
*.db
.htaccess
robots.txt
settings.py
local_settings.py
site_media/
deploy/
logs/
cron/
forum/
site_media/static/machiavelli/maps/
machiavelli/media/machiavelli/maps/
maintenance.html*
*/migrations/
activate
doc/_*
templates/ganalytics.html
