html, body {
    height: 100%;
}
body {
    background-color: #111;
    margin: 0;
    color: #fff3ac;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 10pt;
}

a, a:visited {
	color: #a87f41;
}
img {
	border: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
    font-size: inherit;
	min-width: 50%;
}
td {
    margin: 0;
    border: 0;
    padding: 0;
}

/* CLEARS */

.clearboth {
    clear: both;
}

/* reference:
 *   http://www.positioniseverything.net/easyclearing.html
 *   http://www.zeldman.com/2006/10/27/ie7fixes1/
 *      comment by michael on 10/28/2006
 */
.clearfix {
    min-height: 1%;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* hides from ie5-mac \*/
* html .clearfix { height: 1%; }
/* end hide from ie5-mac */

/* HEADER */
#tabhead {
	position: relative;
	width: 80%;
	margin: 0 auto;
	padding: 0 10px;
	border-left: solid 2px #666;
	border-right: solid 2px #666;
}

#tabhead .login {
    position: absolute;
    top: 6px;
    right: 6px;
}
#tabhead .login a, #tabhead .login a:visited {
}

#tabhead .login a:hover {
    color: #FFF; /* login bar link hover colour */
}

#subnav {
    margin: 0 auto;
    padding: 0 10px;
	width: 80%;
    background: #191919; /* tab colour */
    border-bottom: 1px solid #666;
	border-left: solid 2px #666;
	border-right: solid 2px #666;
}
#subnav ul {
    float: right;
    margin: 0 20px;
    padding: 0;
}
#subnav ul li {
    display: inline;
    list-style-type: none;
}
#subnav ul a:link, #subnav ul a:visited {
    float: left;
    font-weight: bold;
    text-decoration: none;
    padding: 4px 20px;
}
#subnav ul a:hover {
    color: #FFF;
    background: #303030;
}

#body {
	clear: both;
	margin: 0 auto;
	padding: 10px;
	width: 80%;
	background: #3a3a3a;
	color: #fff3d3;
	border-left: solid 2px #666;
	border-right: solid 2px #666;
}

#body h1 {
	line-height: 30px;
	font-size: 20px;
	font-weight: 100;
}

#body h2 {
	line-height: 20px;
	font-size: 16px;
	font-weight: 100;
	margin-top: 2em;
}

#body h3 {
	font-size: 12px;
	font-weight: bold;
	margin-left: 3em;
}

#body p {
	width: 80%;
	margin-left: 3em;
}

#body li {
	list-style-position: inside;
	padding-left: 1em;
}

#body ul li {
	list-style-type: square;
}

#body table {
	border: solid 1px #999;
}

#body table thead {
	border-bottom: solid 1px #999;
}

#body thead th {
	text-align: center;
	background: #191919;
	padding: 0.5em;
}

#body td {
	padding: 0.5em;
}

#body td.data_c {
	text-align: center;
}

#footer {
	width: 80%;
	margin: 0 auto;
	padding: 10px 10px;
	background: #191919;
	border-left: solid 2px #666;
	border-right: solid 2px #666;
}
