html, body {
    height: 100%;
}
body {
    background-color: #111;
    margin: 0;
    color: #fff3ac;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 10pt;
}

a, a:visited {
	color: #a87f41;
}
img {
	border: 0;
}

p {
	padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
    font-size: inherit;
	min-width: 50%;
}
td {
    margin: 0;
    border: 0;
    padding: 0;
}

ol, ul {
	padding: 0;
}

/* CLEARS */

.clearboth {
    clear: both;
}

/* reference:
 *   http://www.positioniseverything.net/easyclearing.html
 *   http://www.zeldman.com/2006/10/27/ie7fixes1/
 *      comment by michael on 10/28/2006
 */
.clearfix {
    min-height: 1%;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* hides from ie5-mac \*/
* html .clearfix { height: 1%; }
/* end hide from ie5-mac */

/* HEADER */
#tabhead {
	position: relative;
	width: 80%;
	min-width: 960px;
	margin: 0 auto;
	padding: 0 10px;
	border-left: solid 2px #666;
	border-right: solid 2px #666;
	border-bottom: solid 2px #9f2727;
}

#tabhead .login {
    position: absolute;
    top: 6px;
    right: 6px;
}
#tabhead .login a, #tabhead .login a:visited {
}

#tabhead .login a:hover {
    color: #FFF; /* login bar link hover colour */
}

#subnav {
    margin: 0 auto;
    padding: 0 10px;
	width: 80%;
	min-width: 960px;
    background: #191919; /* tab colour */
    border-bottom: 1px solid #666;
	border-left: solid 2px #666;
	border-right: solid 2px #666;
}
#subnav ul {
    float: left;
    margin: 0;
    padding: 0;
}
#subnav ul li {
    display: inline;
    list-style-type: none;
}
#subnav ul a:link, #subnav ul a:visited {
    float: left;
    font-weight: bold;
    text-decoration: none;
    padding: 4px 20px;
	border-right: solid 1px #666;
}
#subnav ul a:hover {
    color: #FFF;
    background: #303030;
}

#body {
	clear: both;
	min-height: 1px;
	margin: 0 auto;
	padding: 10px;
	width: 80%;
	min-width: 960px;
	background: #3a3a3a;
	color: #fff3d3;
	border-left: solid 2px #666;
	border-right: solid 2px #666;
}

#body:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


#body h1 {
	line-height: 30px;
	font-size: 20px;
	font-weight: 100;
}

#body h2 {
	line-height: 20px;
	font-size: 16px;
	font-weight: 100;
	margin-top: 2em;
}

#body h3 {
	font-size: 12px;
	font-weight: bold;
	margin-left: 1em;
}

#body p {
	margin-left: 3em;
}

#body li {
	list-style-position: inside;
	padding-left: 1em;
}

#body ul li {
	list-style-type: square;
}

#body table {
	border: solid 1px #999;
}

#body table thead {
	border-bottom: solid 1px #999;
}

#body thead th {
	text-align: center;
	background: #191919;
	padding: 0.5em;
}

#body td {
	padding: 0.5em;
}

#body td.data_c {
	text-align: center;
}

#messages {
	line-height: 150%;
	background: #ff9090;
	color: #333;
}

#messages a {
	color: #333;
}

ul#messages li {
	list-style-type: none;
}

#footer {
	clear: both;
	width: 80%;
	min-width: 960px;
	margin: 0 auto;
	padding: 10px 10px;
	background: #191919;
	border-left: solid 2px #666;
	border-right: solid 2px #666;
}

#left_column {
	width: 70%;
	float: left;
}

#right_column {
	width: 25%;
	margin-top: 1em;
	margin-left: 75%;
	background: #9f2727;
}

#right_column div {
	padding: 0.5em 0.5em;
	border-bottom: solid 1px #111;
}

#right_column h2 {
	margin-top: 0.5em;
}

#right_column ul li {
	list-style-type: none;
}
#right_column ul li:before {
	content: "\00bb \ ";
}

#activity_count strong {
	font-size: larger;
}

#top_users ol li {
	font-size: 120%;
	line-height: 30px;
}

#top_users ol li img {
	vertical-align: middle;
}

#top_users ol li span {
	margin-left: 0.5em;
}

.section {
	padding: 0px 0px 0.5em 0px;
	background: #4f4f4f;
	border-bottom: solid 2px #191919;
}

.section a, .section a:visited {
	color: #d3a152;
}

.section h1, .section h2 {
	margin-top: 1em;
	background: #9f2727;
	padding: 0.5em;
}

.section h3 {
	margin-left: 0;
	font-size: larger;
}

.section h3 a {
	margin-left: 0;
	font-size: larger;
	text-decoration: none;
}

.section ul {
	padding-left: 1em;
}

.section li {
	line-height: 150%;
}

.game_info {
	width: 80%;
	margin-left: 10%;
	padding: 0px;
	background: #4f4f4f;
}

.game_info a, .game_info a:visited {
	color: #d3a152;
}

.game_info h2 {
	background: #191919;
	width: 100%;
	padding-top: 0px;
	padding-bottom: 0px;
}

.game_info.fast h2 {
	background: #9f2727;
}

.game_info h2 span {
	padding-left: 1em;
	line-height: 48px;
}

.game_info .time {
	margin-left: 1em;
	font-size: 80%;
}

.game_info dl {
	margin: 1em 1em 1em;
}

.game_info dt {
	font-weight: bold;
}

.game_info .map {
	float: right;
	margin-right: 0.5em;
	border: solid 1px #111;
}

.section_menu {
	clear: both;
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: right;
	background: #191919;
}

#body .section_menu li{
	display: inline;
	line-height: 150%;
	list-style-type: none;
	margin-right: 3px;
	border-left: solid 1px #4f4f4f;
}

.bonus_time {
	color: green;
}

.unsafe_time {
	color: LightCoral;
	text-decoration: blink;
}

.mini_game {
	margin: 0.5em 1em auto;
	padding: 0.5em;
	border: solid 1px #666;
}

.mini_game h3 {
	margin: 0;	
}

.thread_list li {
	line-height: 150%;
}

.thread_info {
	font-size: smaller;
}

#scenario_map {
	width: 90%;
	text-align: center;
}

#scenario_map img {
	border: solid 1px black;
}
