{% extends 'site_base.html' %}

{% load i18n %}

{% block extra_head %}{% endblock %}

{% block body_class %}machiavelli{% endblock %}
{% block rtab_id %}id="machiavelli_tab"{% endblock %}

{% block subnav %}
<ul>
<li><a href="{% url faq %}">{% trans "FAQ" %}</a></li>
<li><a href="{{ STATIC_URL }}machiavelli/img/{% trans "empty-map_en.jpg" %}" target="_blank">{% trans "Map" %}</a></li>
<li><a href="{% url new-game %}">{% trans "New game" %}</a></li> 
<li><a href="{% url game-list %}">{% trans "All games" %}</a></li>
<li><a href="{% url hall-of-fame %}">{% trans "Hall of Fame" %}</a></li>
<li><a href="{% url scenario-list %}">{% trans "Scenarios" %}</a></li>
</ul>
{% endblock %}
