{% extends 'machiavelli/show_game.html' %}

{% load i18n %}

{% block actions %}
<h2>{% trans "New letter" %}</h2>
<p>{% blocktrans with receiver.country as country %}
New letter for {{ country }}
{% endblocktrans %}</p>
<p>{% trans "Language" %}: {{ receiver.get_language }}</p>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form action="{% url new-letter sender.id receiver.id %}" method="post">
{{ form.body.errors }}
<p>{{ form.body }}</p>
<p><input type="submit" value="{% trans "Send" %}" />
</form>

<p><a href="{% url show-game game.slug %}">{% trans "Return to game" %}</a></p>
{% endblock %}
