{% extends 'machiavelli/show_game.html' %}

{% load i18n %}

{% block actions %}
<h2>{% trans "Letter" %}</h2>

<dl>
<dt>{% trans "From" %}:</dt>
<dd>{{ letter.sender.country }}
{% ifnotequal letter.sender.id player.id %}
<span><a href="{% url new-letter sender_id=player.id receiver_id=letter.sender.id %}">{% trans "Send message" %}</a></span>
{% endifnotequal %}
</dd>
<dt>{% trans "To" %}:</dt>
<dd>{{ letter.receiver.country }}</dd>
<dt>{% trans "Body" %}:<dt>
<dd>{{ letter.body }}</dd>
</dl>
<p><a href="{% url show-game game.slug %}">{% trans "Return to game" %}</a></p>
{% endblock %}
