{% extends 'machiavelli/show_game.html' %}

{% load i18n %}

{% block actions %}
<h2>{% trans "Orders writing" %}</h2>
{% if done %}
<p>{% blocktrans %}At least one player has not yet sent his orders. You have to wait until all
players have done it or the time limit is reached.{% endblocktrans %}</p>
<p>{% blocktrans %}These are the valid orders (except Hold orders) that you have sent this turn:{% endblocktrans %}</p>
{% else %}
<p>{% blocktrans %}
In the next form, you have to compose an order for each of your units. You cannot give a unit two
orders. If you want a unit to do nothing, select the "Hold" option for it.
{% endblocktrans %}</p>
<p>{% blocktrans %}If you compose an order that break the rules, you should see an error and you will have to fix the order. However, if you compose an impossible order, this unit will hold, instead of carrying out its order. Be careful.{% endblocktrans %}</p>
{% if order_form %}
<div class="action_form">
<form action="{% url show-game game.slug %}" method="post" id="order_form">
{% csrf_token %}
<div id="emsg">&nbsp;</div>
<fieldset>
{{ order_form.as_p }}
</fieldset>
<p><input type="submit" value="{% trans "Send" %}" /></p>
</form>
</div>
{% endif %}
{% endif %}

<h3>{% trans "Sent orders" %}</h3>
<div id="so_emsg">&nbsp;</div>
<ul id="sent_orders">
{% for order in sent_orders %}
<li id="order_{{ order.id }}">{{ order.explain }}
{% ifequal order.confirmed 0 %}
(<a href="{% url delete-order game.slug order.id %}" class="delete_order">{% trans "Delete" %}</a>)
{% endifequal %}
</li>
{% endfor %}
</ul>

{% if game.configuration.finances %}
<h2>{% trans "Expenses" %}</h2>
{% if not done %}
<p>{% blocktrans %}Finances are applied in this game. If you want to expend some of your ducats, click on the following link.{% endblocktrans %}</p>
<p><a href="{% url expenses game.slug %}">{% trans "Expenses" %}</a></p>
{% endif %}
{% if current_expenses %}
<h3>{% trans "Your expenses for this turn" %}</h3>
<ul>
{{ current_expenses|unordered_list }}
</ul>
{% endif %}
{% endif %}

{% ifequal player.done 0 %}
<h2>{% trans "Confirm your actions" %}</h2>
<form action="{% url confirm-orders game.slug %}" method="POST" />
{% csrf_token %}
<p>{% blocktrans %}The orders above are saved but <strong>are not confirmed</strong>. If you don't confirm your orders, they will be ignored.{% endblocktrans %}</p>
<p>{% blocktrans %}Once you have confirmed your orders, you will not be able to change or delete them. To confirm the orders and end your phase, click the "Confirm" button.{% endblocktrans %}</p>
<input type="submit" value="{% trans "Confirm" %}" />
</form>
{% endifequal %}

{% endblock %}

{% block extra_game %}
{% if order_form %}
<script>
	var game_url = "{% url show-game game.slug %}";
	var delete_text = "{% trans "Delete" %}";
</script>
	{{ order_form.media }}
{% endif %}
{% endblock %}
