{% extends "machiavelli/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Scenario" %}: {{ scenario.title }}{% endblock %}

{% block body %}
<h1>{% trans "Scenario" %}: {{ scenario.title }}</h1>
<h2>{% trans "Basic data" %}</h2>
<dl>
	<dt>{% trans "Start year" %}</dt>
	<dd>{{ scenario.start_year }}</dd>
	<dt>{% trans "Citites to win" %}</dt>
	<dd>{{ scenario.cities_to_win }}</dd>
</dl>
<h2>{% trans "Setup" %}</h2>
<table>
<thead>
<tr>
<th>{% trans "Country" %}</th>
<th>{% trans "Home provinces" %}</th>
<th>{% trans "Initial setup" %}</th>
</tr>
</thead>
{% for c in countries %}
<tr>
<td class="data_c">
{{ c.name }} <br />
<img src="{{ STATIC_URL }}machiavelli/img/banner-{{ c.css_class }}.png" alt="{{ c.name }}"/>
</td>
<td>
	<ul>
	{{ c.home_set.all|unordered_list }}
	</ul>
</td>
<td>
	<ul>
	{{ c.setup_set.all|unordered_list }}
	</ul>
</td>
</tr>
{% endfor %}
<td>{% trans "Autonomous garrisons" %}</td>
<td></td>
<td>
	<ul>
	{{ autonomous|unordered_list }}
	</ul>
</td>
</table>
{% endblock %}
