{% extends "machiavelli/base.html" %}

{% load i18n %}

{% block head_title %}{% blocktrans %}Games{% endblocktrans %}{% endblock %}

{% block body %}
<h1>{% trans "Game list" %}</h1>
<p>{% blocktrans %}This is a list of all the games in this server. The first are the ones that you
are a player in. If a game has empty slots, you can join it. If you can't find any available games,
you can also create one, but it's better if you join an existing game.{% endblocktrans %}</p>
<h2>{% trans "Your games" %}</h2>
<table>
	<thead>
	<tr>
	<th>{% trans "Game" %}</th>
	<th>{% trans "Scenario" %}</th>
	<th>{% trans "Creator" %}</th>
	<th>{% trans "Time limit" %}</th>
	<th>{% trans "Year" %}</th>
	<th>{% trans "Season" %}</th>
	<th>{% trans "Phase" %}</th>
	<th>{% trans "Rules" %}</th>
	<th>{% trans "Slots" %}</th>
	</tr>
	</thead>
	{% for game in your_games %}
	<tr>
		{% include 'machiavelli/game_row_inc.html' %}
		<td>{{ game.slots }}
		{% ifnotequal game.slots 0 %}
			<a href="{% url leave-game game.slug %}">{% trans "Leave game" %}</a>
		{% endifnotequal %}
		</td>
	</tr>
	{% endfor %}
</table>
<p><a href="{% url new-game %}">{% trans "New game" %}</a></p>
<h2>{% trans "Games you are not playing" %}</h2>
<table>
	<thead>
	<tr>
	<th>{% trans "Game" %}</th>
	<th>{% trans "Scenario" %}</th>
	<th>{% trans "Creator" %}</th>
	<th>{% trans "Time limit" %}</th>
	<th>{% trans "Year" %}</th>
	<th>{% trans "Season" %}</th>
	<th>{% trans "Phase" %}</th>
	<th>{% trans "Rules" %}</th>
	<th>{% trans "Slots" %}</th>
	</tr>
	</thead>
	{% for game in other_games %}
	{% ifequal game.slots 0 %}
	<tr class="closed_game">
	{% endifequal %}
	{% ifnotequal game.slots 0 %}
	<tr class="open_game">
	{% endifnotequal %}
		{% include 'machiavelli/game_row_inc.html' %}
		<td>{{ game.slots }}
		{% ifnotequal game.slots 0 %}
			<a href="{% url machiavelli.views.join_game game.slug %}">{% trans "Join game" %}</a>
		{% endifnotequal %}
		</td>
	</tr>
	{% endfor %}

</table>
<p><a href="{% url new-game %}">{% trans "New game" %}</a></p>

{% if revolutions %}
<h3>{% trans "Revolutions" %}</h3>
<p>{% blocktrans %}The following countries are governed by leaders that are not
paying enough attention to their duties. If you feel that you could do better,
you may try to overthrow a leader.{% endblocktrans %}</p>
<p>{% blocktrans %}If you try to overthrow a leader, he will have a chance to
recover control in the current phase. If he does not, you will take his place.
You will be notified when you get control of the country.
{% endblocktrans %}</p>
<p>{% blocktrans %}In doing this, you will probably run a damaged country, so
you will get some karma for your sacrifice.{% endblocktrans %}</p>
<table>
	<tr><thead>
	<th>{% trans "Game" %}</th>
	<th>{% trans "Country" %}</th>
	<th>{% trans "Overthrow" %}</th>
	</thead></tr>
{% for r in revolutions %}
	<tr>
	<td><a href="{{ r.government.game.get_absolute_url }}">
	{{ r.government.game.slug }}
	</a></td>
	<td>{{ r.government.country }}</td>
	<td><a href="{% url machiavelli.views.overthrow r.pk %}">{% trans "Overthrow" %}</a></td>
	</tr>
{% endfor %}
</table>
{% endif %}

<h2>{% trans "Finished games" %}</h2>
<table>
	<thead>
	<tr>
	<th>{% trans "Game" %}</th>
	<th>{% trans "Scenario" %}</th>
	<th>{% trans "Winner" %}</th>
	</tr>
	</thead>
	{% for game in finished_games %}
	<tr>
		<td><a href="{{ game.get_absolute_url }}">{{ game.slug }}</a></td>
		<td><a href="{% url show-scenario game.scenario.pk %}">{{ game.scenario.title }}</a></td>
		<td><a href="{% url profile_detail username=game.highest_score.user.username %}">{{ game.highest_score.user }}</a> ({{ game.highest_score.country }})</td>
	</tr>
	{% endfor %}

</table>
{% endblock %}
