{% extends "machiavelli/base.html" %}

{% load i18n %}
{% load forum_tags %}
{% load game_icons %}

{% block head_title %}{% blocktrans %}Games{% endblocktrans %}{% endblock %}

{% block body %}
<h1>{% trans "Summary" %}</h1>
<p>
{% blocktrans %}This is a list of all the non-finished games in this server. The first are the ones that you are a player in. If a game has empty slots, you can join it. If you can't find any available games, you can also create one, but it's better if you join an existing game.{% endblocktrans %}
</p>
<p>
{% blocktrans %}At this time, there are {{ activity }} people playing Condottieri games.{% endblocktrans %}
</p>
<h2>{% trans "Your games" %}</h2>
<h3>{% trans "Ongoing games" %}</h3>
<table>
	<thead>
	<tr>
	<th>{% trans "Game" %}</th>
	<th>{% trans "Scenario" %}</th>
	<th>{% trans "Country" %}</th>
	<th>{% trans "Year" %}</th>
	<th>{% trans "Season" %}</th>
	<th>{% trans "Phase" %}</th>
	<th>{% trans "Time left" %}</th>
	<th>{% trans "Rules" %}</th>
	<th>{% trans "Unread" %}</th>
	<th>{% trans "Ducats" %}</th>
	</tr>
	</thead>
	{% for player in your_players %}
	<tr>
		<td><a href="{{ player.game.get_absolute_url }}">{{ player.game.slug }}</a></td>
		<td><a href="{% url show-scenario player.game.scenario.pk %}">{{ player.game.scenario.title }}</a></td>
		<td>{{ player.country }}</td>
		<td class="data_c">
		{% if player.game.year %}
			{{ player.game.year }}
		{% endif %}
		</td>
		<td class="data_c">
		{% if player.game.season %}
			{{ player.game.get_season_display }}
		{% endif %}
		</td>
		<td class="data_c">{{ player.game.get_phase_display }}</td>
		<td class="data_c">
		{% if player.done %}
			{% trans "Done" %}
		{% else %}
			{% if player.time_exceeded %}
				<span style="color: LightCoral">
					{{ player.game.next_phase_change|timeuntil }} 
				</span>
			{% else %}
				<span style="color: Green">
					{{ player.next_phase_change|timeuntil }}
				</span>
			{% endif %}
		{% endif %}
		</td>
		<td>
		{% rule_icons player.game.configuration %}
		</td>
		<td class="data_c">
		<a href="{% url condottieri_messages_inbox player.game.slug %}">{{ player.unread_count }}</a>
		</td>
		<td class="data_c">{{ player.ducats }}</td>
	</tr>
	{% endfor %}
</table>
<h3>{% trans "Not started games" %}</h3>
<table>
	<thead>
	<tr>
	<th>{% trans "Game" %}</th>
	<th>{% trans "Scenario" %}</th>
	<th>{% trans "Creator" %}</th>
	<th>{% trans "Time limit" %}</th>
	<th>{% trans "Rules" %}</th>
	<th>{% trans "Visible players" %}</th>
	<th>{% trans "Slots" %}</th>
	</tr>
	</thead>
	{% for player in your_pending %}
	<tr>
		<td><a href="{{ player.game.get_absolute_url }}">{{ player.game.slug }}</a></td>
		<td><a href="{% url show-scenario player.game.scenario.pk %}">{{ player.game.scenario.title }}</a></td>
		<td>{{ player.game.created_by }}</td>
		<td>{{ player.game.get_time_limit_display }}</td>
		<td>{% rule_icons player.game.configuration %}</td>
		<td class="data_c">{{ player.game.visible|yesno }}</td>
		<td>{{ player.game.slots }}
			<a href="{% url leave-game player.game.slug %}">{% trans "Leave game" %}</a>
		</td>
	</tr>
	{% endfor %}
</table>

<p><a href="{% url new-game %}">{% trans "New game" %}</a></p>

<h2>{% trans "Games you can join" %}</h2>
<table>
	<thead>
	<tr>
	<th>{% trans "Game" %}</th>
	<th>{% trans "Scenario" %}</th>
	<th>{% trans "Creator" %}</th>
	<th>{% trans "Time limit" %}</th>
	<th>{% trans "Rules" %}</th>
	<th>{% trans "Visible players" %}</th>
	<th>{% trans "Slots" %}</th>
	</tr>
	</thead>
	{% for game in available %}
	<tr>
		<td><a href="{{ game.get_absolute_url }}">{{ game.slug }}</a></td>
		<td><a href="{% url show-scenario game.scenario.pk %}">{{ game.scenario.title }}</a></td>
		<td>{{ game.created_by }}</td>
		<td>{{ game.get_time_limit_display }}</td>
		<td>{% rule_icons game.configuration %}</td>
		<td class="data_c">{{ game.visible|yesno }}</td>
		<td>{{ game.slots }}
			<a href="{% url machiavelli.views.join_game game.slug %}">{% trans "Join game" %}</a>
		</td>
	</tr>
	{% endfor %}
</table>

{% if revolutions %}
<h3>{% trans "Revolutions" %}</h3>
<p>
{% blocktrans %}The following countries are governed by leaders that are not paying enough attention to their duties. If you feel that you could do better, you may try to overthrow a leader.{% endblocktrans %}
</p>
<p>
{% blocktrans %}If you try to overthrow a leader, he will have a chance to recover control in the current phase. If he does not, you will take his place. You will be notified when you get control of the country.{% endblocktrans %}
</p>
<p>
{% blocktrans %}In doing this, you will probably run a damaged country, so you will get some karma for your sacrifice.{% endblocktrans %}
</p>
<table>
	<tr><thead>
	<th>{% trans "Game" %}</th>
	<th>{% trans "Country" %}</th>
	<th>{% trans "Overthrow" %}</th>
	</thead></tr>
{% for r in revolutions %}
	<tr>
	<td><a href="{{ r.government.game.get_absolute_url }}">
	{{ r.government.game.slug }}
	</a></td>
	<td>{{ r.government.country }}</td>
	<td><a href="{% url machiavelli.views.overthrow r.pk %}">{% trans "Overthrow" %}</a></td>
	</tr>
{% endfor %}
</table>
{% endif %}

<h2>{% trans "Games you are not playing" %}</h2>
<table>
	<thead>
	<tr>
	<th>{% trans "Game" %}</th>
	<th>{% trans "Scenario" %}</th>
	<th>{% trans "Year" %}</th>
	<th>{% trans "Season" %}</th>
	<th>{% trans "Phase" %}</th>
	<th>{% trans "Rules" %}</th>
	<th>{% trans "Visible players" %}</th>
	</tr>
	</thead>
	{% for game in other_games %}
	<tr>
		<td><a href="{{ game.get_absolute_url }}">{{ game.slug }}</a></td>
		<td><a href="{% url show-scenario game.scenario.pk %}">{{ game.scenario.title }}</a></td>
		<td class="data_c">
		{% if game.year %}
			{{ game.year }}
		{% endif %}
		</td>
		<td class="data_c">
		{% if game.season %}
			{{ game.get_season_display }}
		{% endif %}
		</td>
		<td class="data_c">{{ game.get_phase_display }}</td>
		<td>
		{% rule_icons game.configuration %}
		</td>
		<td class="data_c">{{ game.visible|yesno }}</td>
	</tr>
	{% endfor %}
</table>
<p><a href="{% url new-game %}">{% trans "New game" %}</a></p>


{% if forum %}
{% forum_latest_thread_activity 5 as latest_activity %}
<h2>{% trans "Latest forum posts" %}</h2>

<ul class="thread-list">
{% for thread in latest_activity %}
<li>
<a href="{{ thread.get_absolute_url }}">{{ thread.title }}</a>
({% blocktrans with thread.thread_latest_post.author as author and thread.latest_post_time|timesince as time %}{{ time }} ago by {{ author }}{% endblocktrans %})
</li>
{% endfor %}
</ul>
{% endif %}

{% endblock %}
