.clear {
	clear: both;
}

.uniForm .focused{ background: #444; }

tr.open_game {
	background: #c4efc2;
	color: #333;
}

tr.closed_game {
	background: #efc2c2;
	color: #333;
}

tr.open_game a,
tr.closed_game a{
	color: #111;
}

#game_info {
	width: 95%;
	line-height: 2em;
	padding: 0.5em;
	margin-top: 0;
	margin-bottom: 1em;
	clear: both;
	display: table;
	/*background: #2A2A2A;*/
	border: solid 1px #444;
	color: #ccc;
}

#game_info ul {
	display: table-row;
}

#game_info ul li {
	display: table-cell;
	text-align: center;
}

.col1,
.col2,
.col3 {
	float: left;
	padding-left: 0.5%;
	padding-right: 0.5%;
	margin-left: 0;
	margin-right: 1%;
	height: 600px;
	border: solid 1px #444;
}

.col1 {
	width: 14%;
	overflow: auto;
}

.col2 {
	width: 49%;
	padding: 0;
}

.col3 {
	width: 30%;
}

.player {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	line-height: 120%;
	padding: 0.2em 0.5em;
	border: solid 1px #111;
	-moz-border-radius: 10px;
}

/*
 * Country styles
 */
.france {
	background: #a375d1;
	color: black;
}

.milan {
	background: #cc0000;
	color: black;
}

.florence {
	background: #66ccff;
	color: black;
}

.austria {
	background: #b8b8b8;
	color: black;
}

.papacy {
	background: #00991a;
	color: black;
}

.venice {
	background: #996600;
	color: black;
}

.turks {
	background: #00cccc;
	color: black;
}

.naples {
	background: #3d3dff;
	color: black;
}

.france a,
.france a:visited,
.milan a,
.milan a:visited,
.florence a,
.florence a:visited,
.austria a,
.austria a:visited,
.papacy a,
.papacy a:visited,
.venice a,
.venice a:visited,
.turks a,
.turks a:visited,
.naples a,
.naples a:visited {
	color: #111;
}

.unread {
	font-weight: bold;
}

/* Season colors
 * 1:Spring
 * 2:Summer
 * 3:Fall
 */
.season_1 {
	background: #80CD8D;
	color: #000;
}
.season_2 {
	background: #FFCC00;
	color: #000;
}
.season_3 {
	background: #B47D5B;
	color: #000;
}

#map {
	width: 100%;
	height: 600px;
}

#diplomacy,
#log {
	margin-top: 2.5%;
	padding-top: 0.5em;
	overflow: auto;
}
#diplomacy {
	height: 20%;
}

#log {
	height: 60%;
}

#diplomacy ul,
#log ul {
	padding-left: 0;
}

#diplomacy li,
#log li {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0.5em;
	border-top: solid 1px #111;
}

#diplomacy a {
	text-decoration: none;
}

#col .menu {
	height: 5%;
}

#diplomacy h3,
#log h3 {
	margin-top: 0;
	text-align: right;
	font-size: 1em;
}

#actions {
	width: 100%;
	margin-top: 2em;
}

.action_form table {
	margin-left: 0;
	width: 100%;
	table-layout: fixed;
}
.action_form select {
	width: 8em;
}
